[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
pokedex = {editable = true,git = "https://github.com/veekun/pokedex.git"}
tornado = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
